<div class="slot-container">
  <div class="slot"><%= symbols[0] %></div>
  <div class="slot"><%= symbols[1] %></div>
  <div class="slot"><%= symbols[2] %></div>

  <% if result.present? %>
    <p class="result"><%= result %></p>
  <% end %>
</div>