<!--
Szablon wiadomości e-mail informującej użytkownika o zmianie adresu e-mail.

- @resource: instancja użytkownika, która zmieniła adres e-mail.
- @email: aktualny (lub poprzedni) adres e-mail użytkownika.
- Jeśli zmiana e-maila wymaga potwierdzenia, w wiadomości wyświetlany jest nowy, niepotwierdzony adres (@resource.unconfirmed_email).
- W przeciwnym razie informujemy, że adres e-mail został już zmieniony na nowy (@resource.email).

Cel maila:
- Powiadomienie użytkownika o zmianie e-maila dla bezpieczeństwa i kontroli konta.
-->
<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
