<!--
Szablon wiadomości e-mail z instrukcjami resetowania hasła.

- @resource: instancja użytkownika, który zażądał resetu hasła.
- @resource.email: adres e-mail użytkownika.
- @token: token do autoryzacji zmiany hasła.
- link_to generuje link do formularza zmiany hasła, który zawiera token resetujący.

Cel maila:
- Powiadomienie użytkownika o żądaniu resetu hasła i umożliwienie mu zmiany hasła poprzez kliknięcie w link.
- Informacja, że jeśli użytkownik nie inicjował resetu, może zignorować tę wiadomość.
- Hasło zmieni się tylko po kliknięciu w link i ustawieniu nowego hasła.
-->
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
